@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}

*{
    font-family: Outfit;
}

.active:hover{
    background-color: #ffebff;
    border-color: #C586A5;
}